@import '../../colors.scss';

.slot-button {
  display:inline-block;
  width: 100%;
  height: 100%;
  border: none;

}

.one {
  background-color: cornflowerblue;
}

.group {
  background-color: tomato;
}

.open {
  background-color: $dark-yellow;
}

